# THIS SHOULD BE TURNED INTO FUNCTION <br>
## TO LOAD IN CHARTEVENTS, NOTEEVENTS, (labevents, inputevents_cv, inputevents_mv)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_patient_admit_icu = pd.read_pickle('./data/pickle/preproc/df_patient_admit_icu__20210119.pkl')

In [3]:
df_ids = df_patient_admit_icu[['SUBJECT_ID','HADM_ID','HAS_CHARTEVENTS_DATA','INTIME','DAYS_ADM_TO_ICU']]

In [4]:
# import patient info
data_dir = 'data/physionet.org/files/mimiciii/1.4/'
notes_file = 'NOTEEVENTS.csv'

In [14]:
skiplist = []

row_count = 200000
skiprows = 100000
nrows = 100000  # defualt

colnames = np.array(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'CHARTDATE',
           'CHARTTIME', 'STORETIME', 'CATEGORY', 'DESCRIPTION',
           'CGID', 'ISERROR','TEXT'
          ])

usecols = colnames[[0,1,2,4]]
cnt=0

while skiprows<row_count:
    print('Iteration {}...'.format(cnt))
    
    if skiprows + nrows > row_count:
        nrows = row_count - skiprows
    else:
        nrows = 100000
            
    df = pd.read_csv(data_dir + notes_file, sep=',', header=0, names=colnames,
                     skiprows=skiprows, nrows=nrows, usecols=usecols)
    # convert charttime to datetime
    df.CHARTTIME = pd.to_datetime(df.CHARTTIME,format = '%Y-%m-%d %H:%M:%S', errors = 'coerce')
    
    # add to skiplist rows of df that don't have matching ['SUBJECT_ID', 'HADM_ID'] in df_ids
    nomatch_df = pd.merge(df, df_ids, on=['SUBJECT_ID', 'HADM_ID'], how="outer", indicator=True
              ).query('_merge=="left_only"')
    toskip = nomatch_df['ROW_ID'].to_list()
#     toskip = list(pd.merge(df, df_ids, on=['SUBJECT_ID', 'HADM_ID'], how="outer", indicator=True
#               ).query('_merge=="left_only"').index)
    if toskip:
        skiplist.extend(toskip)
    
    # merge
    df = df.merge(df_ids,how='inner',left_on=['SUBJECT_ID', 'HADM_ID'],right_on=['SUBJECT_ID', 'HADM_ID'])
    
    # calculate days from note event to icu admission
    df['DAYS_NOTE_TO_ICU'] = (df['INTIME'] - df['CHARTTIME']).dt.total_seconds()/(24*60*60)
    
    # add to skiplist rows of df where df['DAYS_NOTE_TO_ICU']<0
#     toskip = list(df[df['DAYS_NOTE_TO_ICU']<0].index)
    toskip = df.ROW_ID[df['DAYS_NOTE_TO_ICU']<0].to_list()
    if toskip:
        skiplist.extend(toskip)
    
    print(len(skiplist))
    # anything else?
    skiprows += nrows
    cnt += 1

Iteration 0...
34922

In [17]:
nomatch_df['ROW_ID']

1          99734.0
5          99948.0
6          99949.0
7         100079.0
8         100408.0
            ...
109559    209006.0
109568    209017.0
109569    209018.0
109587    209259.0
109591    209263.0
Name: ROW_ID, Length: 34922, dtype: float64

In [19]:
500001//100000

5

In [8]:
foo = pd.merge(df, df_ids, on=['SUBJECT_ID', 'HADM_ID'], how="outer", indicator=True)

In [9]:
foo.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTTIME,HAS_CHARTEVENTS_DATA_x,INTIME_x,DAYS_ADM_TO_ICU_x,DAYS_NOTE_TO_ICU,HAS_CHARTEVENTS_DATA_y,INTIME_y,DAYS_ADM_TO_ICU_y,_merge
0,174.0,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389,both
1,170.0,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389,both
2,59795.0,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389,both
3,59796.0,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389,both
4,175.0,13702,107527.0,NaT,1.0,2118-06-02 19:20:00,0.001389,NaN,1.0,2118-06-02 19:20:00,0.001389,both

In [10]:
bar = df.merge(df_ids,how='inner',left_on=['SUBJECT_ID', 'HADM_ID'],right_on=['SUBJECT_ID', 'HADM_ID'])

In [11]:
bar.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTTIME,HAS_CHARTEVENTS_DATA_x,INTIME_x,DAYS_ADM_TO_ICU_x,DAYS_NOTE_TO_ICU,HAS_CHARTEVENTS_DATA_y,INTIME_y,DAYS_ADM_TO_ICU_y
0,174,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389
1,170,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389
2,59795,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389
3,59796,22532,167853.0,NaT,1.0,2151-07-16 14:31:00,0.001389,NaN,1.0,2151-07-16 14:31:00,0.001389
4,175,13702,107527.0,NaT,1.0,2118-06-02 19:20:00,0.001389,NaN,1.0,2118-06-02 19:20:00,0.001389

In [1]:
import pandas as pd
import numpy as np
from customTransformers import DateTimeTransformer, DurationTransformer
import os
import datetime
from argparse import ArgumentParser
import pickle

FILE_PATH = './data/pickle/preproc/'
DATA_DIR = 'data/physionet.org/files/mimiciii/1.4/'
PREPROC_DIR = './data/pickle/preproc/'

CACHE_DIR = './data/pickle/cache'
if not os.path.exists(CACHE_DIR):
    os.mkdir(CACHE_DIR)