# EXPLORING THE RELATIONSHIP BETWEEN CHART EVENTS AND TIME TO ICU STAY
Note: this dataset is open-source, but restricted access. You must request access via https://mimic.physionet.org/gettingstarted/access/. I downloaded the dataset onto my personal computer and ran the analyses locally. Given HIPAA and privacy considerations, I will only show summary plots from data in the database (no patient-specific information will be displayed.

This notebook utilizes previously analyzed data that looks at chart events (e.g., vital signs, lab results, etc.) that occurred between hospital admission and ICU stay to test whether certain events/measurements may predict "imminent" (e.g., <=1 day) ICU stays.<br>

Briefly, data from the PATIENTS, ADMISSIONS, ICUSTAYS, PRESCRIPTIONS, and CHARTEVENTS databases are merged based on subject ID, hospital admission ID, and ICU stay (only drugs prescribed and chart events recorded after hospital admission time and before ICU stay were included in the dataframe). Finally, 
# NEED TO COMPLETE 
<br>

The code to perform these analyses can be found on my github page (https://github.com/adamgiffordphd/imminent_icu_stays). The code includes functionality to parallel process the analysis to get through all ~330M rows in CHARTEVENTS.csv. This code was run on a private server with 40 processors.

In [30]:
import pickle
import glob
from numpy import append, unique, mean

In [2]:
# there are ~3300 pickle files that contain the data that is described above
# this cell finds the pickle files in the saved data directory
# drugs.pickle is a list of all unique drugs in the dataset
pckl_files = glob.glob("pickle/20200811/*.pickle")

In [5]:
df = pickle.load(open(pckl_files[1],'rb'))
df['SAMEDAY_CHRT_TO_ICU'] = df['DAYS_CHRT_TO_ICU'].apply(lambda x: int(x<=1))

In [6]:
df_bySubjAdICU = df.groupby(['SUBJECT_ID','HADM_ID','ICUSTAY_ID']).agg({'ITEMID': [list],'DAYS_CHRT_TO_ICU': [sum],'SAMEDAY_CHRT_TO_ICU': [sum]})

In [14]:
append(df_bySubjAdICU.loc[(19185, 103196, 281157)][('ITEMID','list')],df_bySubjAdICU.loc[(19185, 103196, 281157)][('ITEMID','list')])

array([ 772,  781,  786,  787,  788,  791,  811,  813,  814,  821,  828,
        829,  833,  837,  861, 1127, 1162, 1521, 1522, 1523, 1525, 1529,
       1532, 1535, 1536, 1542,  772,  781,  786,  787,  788,  791,  811,
        813,  814,  821,  828,  829,  833,  837,  861, 1127, 1162, 1521,
       1522, 1523, 1525, 1529, 1532, 1535, 1536, 1542])

In [7]:
df_bySubjAdICU[('SUBJECT_HADM_ICU_ID','count')] = df_bySubjAdICU[('ITEMID','list')].apply(lambda x: len(x))
df_bySubjAdICU[('ITEMID','list')] = df_bySubjAdICU[('ITEMID','list')].apply(lambda x: unique(x))
df_bySubjAdICU

                                                                          ITEMID  \
                                                                            list
SUBJECT_ID HADM_ID ICUSTAY_ID
19185      103196  281157      [772, 781, 786, 787, 788, 791, 811, 813, 814, ...
19246      100942  212853                                            [742, 1125]
           103522  239485      [27, 31, 32, 54, 70, 71, 72, 77, 80, 82, 83, 8...
           124035  203260      [781, 787, 788, 791, 811, 813, 814, 815, 824, ...
           129654  274628      [824, 828, 829, 837, 861, 1127, 1162, 1286, 15...
           150429  283770                                        [781, 784, 786]
19310      157811  250035      [27, 31, 32, 39, 40, 50, 52, 54, 69, 80, 82, 8...
19316      198168  257555      [916, 917, 919, 920, 924, 925, 926, 927, 930, ...

                              DAYS_CHRT_TO_ICU SAMEDAY_CHRT_TO_ICU  \
                                           sum                 sum
SUBJECT_ID HADM_ID ICUSTAY_ID
19185      103196  281157            29.328542                1014
19246      100942  212853             0.395046                  46
           103522  239485            15.052222                1488
           124035  203260            49.040833                 504
           129654  274628             9.646875                 315
           150429  283770            16.447500                 102
19310      157811  250035            36.788889                1344
19316      198168  257555             0.102083                 180

                              SUBJECT_HADM_ICU_ID
                                            count
SUBJECT_ID HADM_ID ICUSTAY_ID
19185      103196  281157                    1014
19246      100942  212853                      46
           103522  239485                    1488
           124035  203260                     504
           129654  274628                     315
           150429  283770                     102
19310      157811  250035                    1344
19316      198168  257555                     180

In [8]:
df_bySubjAdICU.columns

MultiIndex([(             'ITEMID',  'list'),
            (   'DAYS_CHRT_TO_ICU',   'sum'),
            ('SAMEDAY_CHRT_TO_ICU',   'sum'),
            ('SUBJECT_HADM_ICU_ID', 'count')],
           )

In [15]:
# combine the data across pickle files
'''note: have to load and combine the data in batches because the resulting dataframe would be too
large. will do in batches of ~50, and compute running stats for visualization and assessment'''

for st_ix in range(0,len(pckl_files),50):
    print(st_ix)
    if st_ix + 50 > len(pckl_files):
        en_ix = len(pckl_files)
    else:
        en_ix = st_ix + 50
        
    for f_ix in range(st_ix,en_ix):
        if f_ix==st_ix:
            df = pickle.load(open(pckl_files[f_ix],'rb'))
        else:
            tmp = pickle.load(open(pckl_files[f_ix],'rb'))
            df = df.append(tmp)
            
    df['SAMEDAY_CHRT_TO_ICU'] = df['DAYS_CHRT_TO_ICU'].apply(lambda x: int(x<=1))
    if st_ix==0: 
        df_bySubjAdICU = df.groupby(['SUBJECT_ID','HADM_ID','ICUSTAY_ID']).agg({'ITEMID': [list],'DAYS_CHRT_TO_ICU': [sum],'SAMEDAY_CHRT_TO_ICU': [sum]})
        df_bySubjAdICU[('SUBJECT_HADM_ICU_ID','count')] = df_bySubjAdICU[('ITEMID','list')].apply(lambda x: len(x))
        df_bySubjAdICU[('ITEMID','list')] = df_bySubjAdICU[('ITEMID','list')].apply(lambda x: unique(x))
    else:
        tmp = df.groupby(['SUBJECT_ID','HADM_ID','ICUSTAY_ID']).agg({'ITEMID': [list],'DAYS_CHRT_TO_ICU': [sum],'SAMEDAY_CHRT_TO_ICU': [sum]})
        tmp[('SUBJECT_HADM_ICU_ID','count')] = tmp[('ITEMID','list')].apply(lambda x: len(x))
        tmp[('ITEMID','list')] = tmp[('ITEMID','list')].apply(lambda x: unique(x))
        
        # check if ['SUBJECT_ID','HADM_ID','ICUSTAY_ID'] is in previous files and current file, combine if so
        for m_ix in tmp.index:
            if df_bySubjAdICU.index.isin([m_ix]).any():
                # append list and take unique
                df_bySubjAdICU.loc[m_ix][('ITEMID','list')] = unique(append(df_bySubjAdICU.loc[m_ix][('ITEMID','list')], tmp.loc[m_ix][('ITEMID','list')]))
                
                # sum the rest of the columns
                df_bySubjAdICU.loc[m_ix][('DAYS_CHRT_TO_ICU','sum')] = df_bySubjAdICU.loc[m_ix][('DAYS_CHRT_TO_ICU','sum')]+tmp.loc[m_ix][('DAYS_CHRT_TO_ICU','sum')]
                df_bySubjAdICU.loc[m_ix][('SAMEDAY_CHRT_TO_ICU','sum')] = df_bySubjAdICU.loc[m_ix][('SAMEDAY_CHRT_TO_ICU','sum')]+tmp.loc[m_ix][('SAMEDAY_CHRT_TO_ICU','sum')]
                df_bySubjAdICU.loc[m_ix][('SUBJECT_HADM_ICU_ID','count')] = df_bySubjAdICU.loc[m_ix][('SUBJECT_HADM_ICU_ID','count')]+tmp.loc[m_ix][('SUBJECT_HADM_ICU_ID','count')]

0
50

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000
1050
1100
1150
1200
1250
1300
1350
1400
1450
1500
1550
1600
1650
1700
1750
1800
1850
1900
1950
2000
2050
2100
2150
2200
2250
2300
2350
2400
2450
2500
2550
2600
2650
2700
2750
2800
2850
2900
2950
3000
3050
3100
3150
3200
3250
3300

In [18]:
df_bySubjAdICU.head(5)

,,,ITEMID,DAYS_CHRT_TO_ICU,SAMEDAY_CHRT_TO_ICU,SUBJECT_HADM_ICU_ID
,,,list,sum,sum,count
SUBJECT_ID,HADM_ID,ICUSTAY_ID,,,,
123,195632,227264.0,"[8381, 8392, 8393]",2.133924,111,111
199,125590,235675.0,"[226381, 226543, 226544, 227239, 227241, 227378]",44.083333,288,288
256,188869,254418.0,"[226381, 226543, 227378]",0.043681,111,111
266,186251,293876.0,"[226381, 226543, 226544, 227378]",0.036204,136,136
422,117029,299666.0,"[220048, 223753, 223781, 223782, 223783, 22378...",0.194074,32,32

In [21]:
df_bySubjAdICU[('DAYS_CHRT_TO_ICU','mean')] = df_bySubjAdICU[('DAYS_CHRT_TO_ICU','sum')] / df_bySubjAdICU[('SUBJECT_HADM_ICU_ID','count')]
df_bySubjAdICU[('SAMEDAY_CHRT_TO_ICU','mean')] = df_bySubjAdICU[('SAMEDAY_CHRT_TO_ICU','sum')] / df_bySubjAdICU[('SUBJECT_HADM_ICU_ID','count')]
df_bySubjAdICU.head()

,,,ITEMID,DAYS_CHRT_TO_ICU,SAMEDAY_CHRT_TO_ICU,SUBJECT_HADM_ICU_ID,DAYS_CHRT_TO_ICU,SAMEDAY_CHRT_TO_ICU
,,,list,sum,sum,count,mean,mean
SUBJECT_ID,HADM_ID,ICUSTAY_ID,,,,,,
123,195632,227264.0,"[8381, 8392, 8393]",2.133924,111,111,0.019225,1.0
199,125590,235675.0,"[226381, 226543, 226544, 227239, 227241, 227378]",44.083333,288,288,0.153067,1.0
256,188869,254418.0,"[226381, 226543, 227378]",0.043681,111,111,0.000394,1.0
266,186251,293876.0,"[226381, 226543, 226544, 227378]",0.036204,136,136,0.000266,1.0
422,117029,299666.0,"[220048, 223753, 223781, 223782, 223783, 22378...",0.194074,32,32,0.006065,1.0

In [22]:
foo = dict()

In [25]:
foo['bar'] = [1]
foo['bar']

[1]

In [26]:
foo['bar'].append([2])

In [28]:
item_dict = dict()
for m_ix in df_bySubjAdICU.index:
    items = df_bySubjAdICU.loc[m_ix][('ITEMID','list')]
    for item in items:
        if item not in item_dict.keys():
            item_dict[item] = [df_bySubjAdICU.loc[m_ix][('DAYS_CHRT_TO_ICU','mean')]]
        else:
            item_dict[item].append([df_bySubjAdICU.loc[m_ix][('DAYS_CHRT_TO_ICU','mean')]])

In [31]:
item_dict_mn = dict()
for key in item_dict.keys():
    item_dict_mn[key] = mean(item_dict[key])

In [66]:
import numpy as np
item_ids = np.array([i for i in item_dict_mn.keys()])
item_mn_days = np.array([i for i in item_dict_mn.values()])

In [67]:
ix = np.argsort(item_mn_days)

In [68]:
ix

array([708, 755, 753, 754,  29,  25,  24,  23,  22,  28, 641, 640, 659,
       650, 642, 687, 685, 683, 696, 656, 643, 644, 645, 647, 657, 649,
       648, 652, 653, 654, 655, 661, 660, 651, 658, 698, 699, 700, 769,
       757, 760, 761, 762, 759, 756, 763, 758, 765, 768, 766, 767, 764,
       540, 697, 692, 691, 734, 736, 737, 739, 735, 738, 688, 686, 684,
       541, 571, 572, 429, 433, 428, 431, 430,  10, 542, 522, 405, 416,
       461, 462, 584, 721,  11, 689, 404,   9, 690, 421, 482, 480, 695,
       715, 717, 244, 243, 732, 435,  17, 694, 436, 438, 439, 312, 413,
       409, 414, 415, 412, 408, 432,  14,  19,  16,  20,  13, 403, 618,
       619,  21, 538, 417, 537, 751, 742, 747, 748, 746, 745, 744, 733,
       740, 741, 743, 463, 464,  91,  96,  97,  98, 434, 437,   8, 470,
       468, 100, 101, 311,   3,   5,  92,  93,  94,  95, 539, 623, 624,
       625, 626, 622, 628, 621, 627, 620, 505, 506,  12, 714, 749,  26,
        27, 466, 410, 418, 716, 718, 719, 720, 596,   4, 423, 481, 593,
       594, 595, 397, 398,  99, 441, 517, 516, 515, 514, 513, 511, 512,
       121, 487,  15, 247, 399, 400, 401, 402, 396, 240, 497, 498, 663,
       664, 662, 500, 504, 363, 518, 519, 486, 366, 474, 575, 574, 367,
       339, 336, 335, 334, 333, 332, 331, 330, 328, 329, 327, 326, 325,
       324, 323, 322, 321, 320, 319, 340, 495, 374, 375, 465, 493, 138,
       341, 524, 523, 242, 492, 476, 485, 257, 241, 365, 496, 510, 507,
       508, 509, 376, 494, 140, 475, 531, 479, 478, 473, 136, 525, 139,
       142, 143, 477, 137,   0, 144, 193, 364, 134, 248, 145,   1, 638,
       499, 132, 472, 520, 530, 133,   2, 550, 547, 546, 545, 543, 549,
       369, 489, 488, 490, 141, 170, 135, 151, 501, 362, 305, 245, 250,
       393, 368, 371, 355, 356, 503, 502, 483, 491, 484, 378, 379, 373,
       211, 521, 469,  64, 568, 569, 559, 527, 281, 534, 165, 166, 370,
       251, 249,  79, 391, 392, 394, 693, 384, 570, 533, 178, 617, 183,
       156, 209, 210, 194, 177, 176,  84, 131,  88, 120, 130, 440, 246,
       318, 526, 445, 259, 299, 359, 357,  39,  40,  41, 614, 615,  38,
       277, 460, 386, 385, 337, 447, 298, 444, 258,  77,  58, 185,  35,
        34,  32,  33, 317,  55,  37, 208,  36, 262,  54,  31,  78, 446,
        30, 388,  56, 254,  61,  18,  62, 616, 282, 637,  45,  44, 174,
       152, 297, 199, 592, 192, 554, 442, 150, 159, 528, 214, 206, 197,
       196, 213, 203, 168, 169, 171, 172, 158, 164, 167, 157,  60, 186,
       212, 155, 448,  69, 666, 667, 668, 669, 670, 671, 673, 674, 675,
       676,  76, 215,  75, 204,  43,  59, 147, 146, 216, 230, 354,  74,
       556, 557, 555,  67, 300,  68,  63, 295, 573,  72,  65,  66, 205,
       202, 148, 443,  70, 153, 181, 190, 182, 672, 201, 200,  57, 198,
       115,  73, 632, 631, 184, 252, 195, 553,  71,  42,  46, 296, 283,
       188, 665, 191, 207, 382, 597, 598, 163, 162, 160,  47, 217,  50,
        48,  49,  51, 179, 237, 278,  53,  52, 301, 607, 608, 609, 610,
       611, 606, 279, 613, 612, 239, 228, 255, 253, 233, 578, 580, 581,
       236, 222, 377, 304, 459, 380, 293, 161, 703, 706, 705, 704, 701,
       187, 280, 154, 180, 294, 231, 381, 310, 234, 308, 307, 467, 276,
       454, 457, 458, 372, 189, 558, 338, 238, 284, 313, 314, 387, 707,
       536, 383, 227, 353, 302, 604, 291, 292, 219, 309, 235, 223, 290,
       358, 149, 114, 112, 111, 110, 303, 263, 267, 261, 264, 265, 260,
       268, 270, 271, 266, 275, 218, 220, 175, 471, 232, 316, 315, 348,
       350, 349, 347, 346, 173, 306, 605, 229, 529, 451,   6, 420, 360,
       576, 226, 711, 599, 600, 601, 602, 603, 256,  89,  82,  81,  80,
        90,  83, 117, 119, 583, 582, 579, 577, 224, 274, 273, 269, 272,
       225, 345, 285, 551, 552, 221, 544, 455, 750, 567, 566, 564, 563,
       565, 427, 424, 426, 425, 422, 709, 710, 419, 351, 548, 361, 411,
        85,  86, 560,  87, 116, 122, 123, 585, 586, 588, 589, 590, 289,
       113, 532, 103, 118, 102, 104, 105, 106, 107, 108, 109, 713, 562,
       125, 126, 127, 128, 129, 352, 286, 288, 287, 390, 591, 561, 702,
       406, 344, 342, 124, 453, 389, 343, 407, 456, 587, 752, 449, 450,
       712, 452, 646, 730,   7, 633, 630, 634, 635, 636, 629, 535, 639,
       395, 731, 726, 725, 722, 723, 724, 729, 728, 727, 678, 679, 681,
       682, 677, 680])

In [41]:
sorted_item_mn_days = item_mn_days[ix]
sorted_items = item_ids[ix]

TypeError: only integer scalar arrays can be converted to a scalar index