In [13]:
import numpy as np
import pandas as pd

In [15]:
df_all.shape

(60970, 25)

In [16]:
df_all.head()

,SUBJECT_ID,GENDER,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,INSURANCE,LANGUAGE,RELIGION,...,HOSPITAL_DAYS,ADMIT_AGE,ICUSTAY_ID,DBSOURCE,INTIME,LOS,DAYS_ADM_TO_ICU,SAMEDAY_ADM_TO_ICU,ADM_TO_ICU_100p,ADM_TO_ICU_90m
0,249,F,116935.0,2149-12-17 20:41:00,2149-12-31 14:55:00,EMERGENCY,EMERGENCY ROOM ADMIT,Medicare,***,CATHOLIC,...,13.759722,74.0,215044.0,carevue,2149-12-18 20:06:02,5.7262,0.975718,1,76,15
1,249,F,149546.0,2155-02-03 20:16:00,2155-02-14 11:15:00,EMERGENCY,EMERGENCY ROOM ADMIT,Medicare,ENGL,CATHOLIC,...,10.624306,80.0,269035.0,metavision,2155-02-03 20:17:29,1.9282,0.001030,1,26,0
2,249,F,149546.0,2155-02-03 20:16:00,2155-02-14 11:15:00,EMERGENCY,EMERGENCY ROOM ADMIT,Medicare,ENGL,CATHOLIC,...,10.624306,80.0,263055.0,metavision,2155-02-07 18:51:16,3.8815,3.941157,0,88,62
3,249,F,158975.0,2156-04-27 15:33:00,2156-05-14 15:30:00,EMERGENCY,PHYS REFERRAL/NORMAL DELI,Medicare,ENGL,CATHOLIC,...,16.997917,81.0,282599.0,metavision,2156-05-01 18:10:12,2.0233,4.109167,0,88,65
4,249,F,158975.0,2156-04-27 15:33:00,2156-05-14 15:30:00,EMERGENCY,PHYS REFERRAL/NORMAL DELI,Medicare,ENGL,CATHOLIC,...,16.997917,81.0,263882.0,metavision,2156-05-10 17:47:35,1.0614,13.093461,0,96,208

In [17]:
df_all['ICUSTAY_ID'].nunique()

60970

In [19]:
len(df_all[df_all['ADMISSION_TYPE']=='NEWBORN'])/len(df_all)

0.12883385271444972

In [20]:
df_all['ADMIT_AGE'].unique()

array(['EMERGENCY', 'ELECTIVE', 'NEWBORN', 'URGENT'], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split
df_trainval, df_test = train_test_split(df_all, test_size=0.15,random_state=4)

# Pipeline <br>
1. Load in df_all
2. Remove 'NEWBORN' category
3. Impute ages = nan
4.