In [1]:
import pandas as pd

In [2]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [11]:
mask = (df[['col1','col2']]<4).all(axis=1)

In [13]:
df[mask].index.to_list()

[0]

In [14]:
import pickle

In [26]:
import multiprocessing
multiprocessing.cpu_count()

16

In [35]:
foo=pickle.load(open('./data/pickle/cache/file-CHARTEVENTS-lines-100000-200000.p','rb'))

In [37]:
foo[0]

1